$enable = hexo-config("highlight_prettify.enable")
$theme = hexo-config("highlight_prettify.theme")


if $enable && $theme == "atelier-cave-dark"
  @import "skins/atelier-cave-dark"

if $enable && $theme == "atelier-cave-light"
  @import "skins/atelier-cave-light"

if $enable && $theme == "atelier-dune-dark"
  @import "skins/atelier-dune-dark"

if $enable && $theme == "atelier-dune-light"
  @import "skins/atelier-dune-light"

if $enable && $theme == "atelier-estuary-dark"
  @import "skins/atelier-estuary-dark"

if $enable && $theme == "atelier-estuary-light"
  @import "skins/atelier-estuary-light"

if $enable && $theme == "atelier-forest-dark"
  @import "skins/atelier-forest-dark"

if $enable && $theme == "atelier-forest-light"
  @import "skins/atelier-forest-light"

if $enable && $theme == "atelier-heath-dark"
  @import "skins/atelier-heath-dark"

if $enable && $theme == "atelier-heath-light"
  @import "skins/atelier-heath-light"

if $enable && $theme == "atelier-lakeside-dark"
  @import "skins/atelier-lakeside-dark"

if $enable && $theme == "atelier-lakeside-light"
  @import "skins/atelier-lakeside-light"

if $enable && $theme == "atelier-plateau-dark"
  @import "skins/atelier-plateau-dark"

if $enable && $theme == "atelier-plateau-light"
  @import "skins/atelier-plateau-light"

if $enable && $theme == "atelier-savanna-dark"
  @import "skins/atelier-savanna-dark"

if $enable && $theme == "atelier-savanna-light"
  @import "skins/atelier-savanna-light"

if $enable && $theme == "atelier-seaside-dark"
  @import "skins/atelier-seaside-dark"

if $enable && $theme == "atelier-seaside-light"
  @import "skins/atelier-seaside-light"

if $enable && $theme == "atelier-sulphurpool-dark"
  @import "skins/atelier-sulphurpool-dark"

if $enable && $theme == "atelier-sulphurpool-light"
  @import "skins/atelier-sulphurpool-light"

if $enable && $theme == "github"
  @import "skins/github"

if $enable && $theme == "github-v2"
  @import "skins/github-v2"

if $enable && $theme == "hemisu-dark"
  @import "skins/hemisu-dark"

if $enable && $theme == "hemisu-light"
  @import "skins/hemisu-light"

if $enable && $theme == "tomorrow"
  @import "skins/tomorrow"

if $enable && $theme == "tomorrow-night"
  @import "skins/tomorrow-night"

if $enable && $theme == "tomorrow-night-blue"
  @import "skins/tomorrow-night-blue"

if $enable && $theme == "tomorrow-night-bright"
  @import "skins/tomorrow-night-bright"

if $enable && $theme == "tomorrow-night-eighties"
  @import "skins/tomorrow-night-eighties"

if $enable && $theme == "tranquil-heart"
  @import "skins/tranquil-heart"

if $enable && $theme == "vibrant-ink"
  @import "skins/vibrant-ink"